/* Styling header for mobile version */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 50px;
  background-color: #f72210;
}

.header-svg {
  fill: white;
}

.subscribe button {
  background-color: #ffe40e;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
}

.subscribe i {
  color: rgb(216, 212, 212);
}

/* Ángel */

.svg-size {
  width: 236px;
  fill: red;
}

.small-gray-text {
  font-size: 12px;
  color: gray;
}

.footer-icons-size img {
  width: 22px;
}

.list-deco-none li {
  list-style: none;
}

.hover-black-link a:hover {
  color: black;
}

.black-circle-size {
  z-index: 2;
  top: 20%;
  width: 32px;
  height: 32px;
}

/* Ángel */

/* Header Styling for tablet version */

@media (min-width: 768px) {
    .subscribe button {
      font-size: 16px;
      line-height: 23px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .subscribe i {
      font-size: 25px;
      height: 20px;
      color: #b6b8ca;
    }
}

/* Header Styling for Desktop version */
@media (min-width: 1200px) {
    header {
        height: 100px;
        align-items: flex-start;
        margin-bottom: 100px;
    }

    header p {
        font-size: 16px;
        font-family: "Roboto Condensed", sans-serif;
    }

    .header-svg {
        width: 396px;
        height: 60px;
    }

    .desktop-nav {
        height: 100px;
        background-color: transparent;
        top: 85px;
        left: 0;
        right: 0;
        z-index: 10000;
    }

    .desktop-nav ul {
        list-style: none;
    }

   .first-ul {
        background-color: white;
        clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
        height: 50px;
    }

    .first-ul  li {
        border-right: 1px solid #d9d9d9;
        width: fit-content;
        padding: 0 17px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desktop-nav a {
        text-decoration: none;
    }

    .desktop-nav .second-ul {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
    }

    .second-ul li {
        margin-left: 10px;
    }

    .second-ul li:hover a {
        color: red !important;
    }

}
  